# Configuración de Firebase
FIREBASE_PROJECT_ID=conectionwdb
GOOGLE_APPLICATION_CREDENTIALS=/ruta/a/tu/credentials.json

# Configuración del servidor
PORT=8080

# Configuración de Firestore
FIRESTORE_COLLECTION=characters
